name: C/C++ CI with Docker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-analyze:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      
    - name: Build Docker Image
      run: docker build -t dev-container -f .devcontainer/Dockerfile .      
      
    - name: Configure Project
      run: docker run --rm -u 0:0 -v ${{ github.workspace }}:/workspace -w /workspace dev-container make release-configure
      
    - name: Compile Project
      run: docker run --rm -u 0:0 -v ${{ github.workspace }}:/workspace -w /workspace dev-container make release-build

    - name: Static Analysis
      run: docker run --rm -u 0:0 -v ${{ github.workspace }}:/workspace -w /workspace dev-container make analyse
      
    #- name: Unit Tests
    #  run: docker run --rm -u 0:0 -v ${{ github.workspace }}:/workspace -w /workspace dev-container make test

    #- name: Package Application (.deb)
    #  run: docker run --rm -u 0:0 -v ${{ github.workspace }}:/workspace -w /workspace dev-container make release-pack

    #- name: Upload DEB Artifact
    #  uses: actions/upload-artifact@v4
    #  with:
    #    name: release-package-deb
        # On récupère tous les fichiers .deb trouvés dans le dossier release
    #    path: build/release/*.deb
        # Optionnel : permet de garder l'artifact 7 jours au lieu de 90
    #    retention-days: 7
